@charset "UTF-8";

* {padding: 0; margin:0 auto;}

/* 모든 컨텐츠를 포함하는  box */
#mainWrap {
	width:1280px;
	position:relative;
}

#codeInsert{
	padding: 1%;
	margin: 1%;
    border: 1px solid ;
}

h1{
    font-weight:bolder ;
    color: rgb(0, 77, 51);
    text-align: center;
    margin-top: 1%;
}

li{
    list-style: none;
}

.insertBtn{
	margin : 1%;
	display: flex;
    justify-content: center;
}


/* ---------등록버튼------------ */

.insertBtn #checkAll {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 40px;
    border: 1px solid;
    border-radius: 10px;
}

.insertBtn #checkAll :hover{
	cursor: pointer;
}

/* ---input테그 클릭시 배경색상바꾸기--- */
input:focus{
   background-color: green;
 }

