@charset "UTF-8";

* {padding: 0; margin:0 auto;}

/* 모든 컨텐츠를 포함하는  box */
#mainWrap {
	width:1280px;
	position:relative;
}

h1{
    font-weight:bolder ;
    color: rgb(0, 77, 51);
    text-align: center;
    margin-top: 1%;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    list-style: none;
}

#codeMiddle{
    margin: 2%;
    padding:1%;
    border: 1px solid ;
    background-color: rgb(238, 236, 236); 
}

#topMenu{
    width:50%;
    margin-top: 15px;
    margin-bottom:15px;
}

#topMenu li{
    width:25%;
    border: 1px solid coral;
    border-radius: 15px;
    text-align: center;
    margin: 1%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bolder;
    background-color: coral;
}

#codemenu{
    width:50%;
    margin-top: 15px;
    margin-bottom:15px;
}

#codemenu li{
    width:25%;
    border: 1px solid coral;
    border-radius: 15px;
    text-align: center;
    margin: 1%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bolder;
    background-color: coral;
}

/* --------top부분(데이터내용들어있는곳)---------- */
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
}

.first{
	font-weight: bolder;
	font-size: large;
}

.bus_list .top .check{
    width:5%;
}
.name,.busnum,.etc{
    width:19%;
}
.ceo,.buscode{
    width:19%;
}

/* ----------추가삭제 버튼-------- */
.inoutBtn{
    display: flex;
    justify-content: center;
    margin: 1%;
}

.inoutBtn .in,
.inoutBtn .modify,
.inoutBtn .out{
    /* display: inline-block; */
    margin: 1%;
    text-align: center;
    line-height: 100%;
    border: 1px solid;
    border-radius: 10px;
    width:5%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inoutBtn :hover {
	cursor: pointer;
}


/* ----------업체찾기 분류-------- */
.codesearch{
    display: flex;
    align-items: center;
    padding: 0 200px;
    margin-top: 28px;
    margin-bottom: 28px;
    justify-content: center;
}

.bustype{
	margin: 1% !important;
	display: inline-block;
}
.search{
	display: inline-block;
}
#searchinput{
    height: 34px !important;
    width: 320px;
}
.searchbtn{
	width:50px;
	height: 30px;
	border-radius: 10px;
}