@charset "UTF-8";

* {padding: 0; margin:0 auto;}

/* 모든 컨텐츠를 포함하는  box */
#mainWrap {
	width:1280px;
	position:relative;
}

h3{
	text-align: center;
    margin: 2%;
}

h1{
    font-weight:bolder ;
    color: rgb(0, 77, 51);
    text-align: center;
    margin-top: 1%;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    list-style: none;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bolder;
}

#codeMiddle{
    margin: 2%;
    padding:1%;
    border: 1px solid ;
    background-color: #ccc;
}

#popupmenu{
    width:50%;
}

#popupmenu li{
    width:25%;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    margin: 1%;
}

#popupmenu li :hover {
	cursor: pointer;
}