@charset "UTF-8";

* {padding: 0; margin:0 auto;}

/* 모든 컨텐츠를 포함하는  box */
#mainWrap {
	width:1280px;
	position:relative;
}

#codeInsert{
	padding: 1%;
	margin: 1%;
    border: 1px solid ;
}

h1{
    font-weight:bolder ;
    color: rgb(0, 77, 51);
    text-align: center;
    margin-top: 1%;
}

li{
    list-style: none;
    margin: 10px;
}

#btn{	
    display: flex;
    width: 20%;
    margin: 20px;
}

input[type=submit],input[type=reset]{
	width:100px;
	height: 50px;
	border-radius: 20px;
}

input[type=submit]:hover{
	cursor: pointer;
	opacity: 0.7;
}
input[type=reset]:hover{
	cursor: pointer;
	opacity: 0.7;
}
#projcodecheck:hover{
	cursor: pointer;
	opacity: 0.7;
}

input{
	height: 20px;
}

/* ---input테그 클릭시 배경색상바꾸기--- */
input:focus{
   background-color: green;
 }

