@charset "UTF-8";
/* insertCard.css */

#wrapper {
	display: flex;
	//justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
}

#updateCardForm {
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: 1px solid black;
	width: 80%;
	height: 80%;
	padding: 1.5rem 2rem;
}

#updateCardForm div {
	margin-bottom: 20px;
	width: 100%;
}

#updateCardForm div label {
	display: block;
	margin-bottom: 5px;
}

#updateCardForm div input {
	font-size: 16px;
}

#updateCardForm div select {
    padding: 2px;
	margin-right: 5px;
	font-size: 16px;
}

input.num {
    width: 100px;
}

#cardNoArea input.num {
	width: 19%;
}

input:read-only {
	background-color: #F5F5F5;
}  

input[type=submit] {
	width: 100px;
	padding: 7px;
	margin: auto;
	font-size: 16px;
	color: white;
	background-color: black;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}