<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.agos.awg.dao.IBusDAO">
  	<resultMap id="busResult" type="com.agos.awg.model.BusVO">
  		<result property="bus_idx" column="bus_idx"/>
  		<result property="bus_code" column="bus_code"/>
  		<result property="bus_nm" column="bus_nm"/>
  		<result property="bus_rep" column="bus_rep"/>
  		<result property="bus_reg_no" column="bus_reg_no"/>
  		<result property="bus_tel" column="bus_tel"/>
  		<result property="bus_fax" column="bus_fax"/>
  		<result property="bus_item" column="bus_item"/>
  		<result property="busAddress" column="busAddress"/>
  		<result property="bus_email" column="bus_email"/>
  	</resultMap>
 
 	<!-- 업체전부불러오기 / 인덱스 값 따라서 -->
	<select id="buslist" resultMap="busResult" parameterType="com.agos.awg.model.BusVO">
		SELECT * FROM bus_code ORDER BY bus_idx desc
	</select>
	
	<!-- 업체코드 중복검사 -->
	<select id="codecheck" parameterType="String" resultType="String">
  		SELECT bus_code FROM bus_code WHERE bus_code=#{buscode}
   </select>

	<!-- 업체코드디비 추가 -->
	<insert id="busdbinsert"
		parameterType="com.agos.awg.model.BusVO">
		INSERT INTO
		bus_code (bus_code,bus_nm,bus_rep,bus_reg_no,bus_tel,bus_fax,bus_item,bus_email,busAddress)
		VALUES
		(#{bus_code},#{bus_nm},#{bus_rep},#{bus_reg_no},#{bus_tel},#{bus_fax},#{bus_item},#{bus_email},#{busAddress})
	</insert>
	
	<!-- 업체 정보 수정폼에 정보 불러오기 -->
	<select id="busupdateform" resultMap="busResult" parameterType="com.agos.awg.model.BusVO">
		SELECT * FROM bus_code WHERE bus_idx=#{bus_idx}
	</select>

	<!-- 업체 정보 수정 : 수정된 정보 DB에 저장 (인덱스번호 : 기본키 변경 안 함) -->
 	<update id="busdbupdate" parameterType="com.agos.awg.model.BusVO">
		UPDATE bus_code SET bus_code=#{bus_code}, bus_nm=#{bus_nm},
		bus_rep=#{bus_rep}, bus_reg_no=#{bus_reg_no}, bus_tel=#{bus_tel}, bus_fax=#{bus_fax},
		bus_item=#{bus_item}, bus_email=#{bus_email}, busAddress=#{busAddress}
		WHERE bus_idx=#{bus_idx}
	</update>
	
	<!-- 인덱스로 삭제 -->
	<delete id="busdbdelete" parameterType="int">
		DELETE FROM bus_code WHERE bus_idx=#{bus_idx}
	</delete>


	<!-- 업체 필터(기본 전체/민간/공공) 및 검색 -->	
	
	<select id="filter" resultMap="busResult" parameterType="HashMap">
		SELECT * FROM bus_code 
		<choose>
		<when test = 'bustype != "a"'>
			WHERE (#{bustype} = SUBSTR(bus_code,1,1)) AND 
			(
				(bus_code LIKE CONCAT('%', #{search}, '%')) OR
				(bus_nm LIKE CONCAT('%', #{search}, '%')) OR
				(bus_rep LIKE CONCAT('%', #{search}, '%')) OR
				(bus_tel LIKE CONCAT('%', #{search}, '%'))OR
				(bus_reg_no LIKE CONCAT('%', #{search}, '%'))OR
				(busAddress LIKE CONCAT('%', #{search}, '%'))
			)
			ORDER BY bus_idx desc
		</when>
		<otherwise>
			WHERE 
			(
				(bus_code LIKE CONCAT('%', #{search}, '%')) OR
				(bus_nm LIKE CONCAT('%', #{search}, '%')) OR
				(bus_rep LIKE CONCAT('%', #{search}, '%')) OR
				(bus_tel LIKE CONCAT('%', #{search}, '%'))OR
				(bus_reg_no LIKE CONCAT('%', #{search}, '%'))OR
				(busAddress LIKE CONCAT('%', #{search}, '%'))
			)
			ORDER BY bus_idx desc
		</otherwise>
		</choose>
	</select>
  		
  </mapper>