<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.agos.awg.dao.IProjDAO">
  	<resultMap id="projResult" type="com.agos.awg.model.ProjVO">
  		<result property="proj_idx" column="proj_idx"/>
  		<result property="proj_code" column="proj_code"/>
  		<result property="proj_nm" column="proj_nm"/>
  		<result property="proj_amount" column="proj_amount"/>
  		<result property="proj_buyer" column="proj_buyer"/>
  		<result property="proj_start_date" column="proj_start_date"/>
  		<result property="proj_end_date" column="proj_end_date"/>
  	</resultMap>
 
	<!-- 프로젝트코드 중복검사 -->
	<select id="codecheck" parameterType="int" resultType="String">
  		SELECT proj_code FROM proj_code WHERE proj_code=#{projcode}
    </select>
    
    <!-- 프로젝트 전부 불러오기 // 프로젝트 코드따라서-->
	<select id="projlist" resultMap="projResult" parameterType="com.agos.awg.model.ProjVO">
		SELECT * FROM proj_code ORDER BY proj_idx desc
	</select>
  		
  	<!-- 프로젝트 코드디비 추가 -->
	<insert id="projdbinsert"
		parameterType="com.agos.awg.model.ProjVO">
		INSERT INTO
		proj_code (proj_code,proj_nm,proj_amount,proj_buyer,proj_start_date,proj_end_date)
		VALUES
		(#{proj_code},#{proj_nm},#{proj_amount},#{proj_buyer},#{proj_start_date},#{proj_end_date})
	</insert>
  	
  	
  		<!-- 프로젝트 필터(기본 전체/민간/공공) 및 검색 -->	
	<!-- 1.업체 필터 전체all(A),민간corp(C), 공공public(P)로 시작 // search값 비어있을때 --> 
	<select id="projfilter" resultMap="projResult">
		SELECT * FROM proj_code
		<if test="bustype=='all'">		<!-- option이 전체이면 -->
			ORDER BY proj_code
		</if>
		<if test="bustype=='public' and bustype!=''">
			WHERE proj_nm LIKE "p%" ORDER BY proj_idx desc		<!-- 옵션이 공공이면 --> <!-- 가장 최근 프로젝트가 맨 위로 오도록 -->
		</if>
		<if test="bustype=='corp' and bustype!=''">
			WHERE proj_nm LIKE "c%" ORDER BY proj_idx desc		<!-- 옵션이 민간이면 -->
		</if>		
	</select>
	
	<!-- 2. search값 있을때 -> search쪽 버튼 누르고--> 
	<select id="projsearchfilter" resultMap="projResult" parameterType="String">
			<!-- 프로젝트코드,프로젝트명,업체,계약금액 중에 해당 키워드 있는거 보여줌 -->
		SELECT * FROM proj_code WHERE 
		(proj_code LIKE CONCAT('%', #{search}, '%')) OR
		(proj_nm LIKE CONCAT('%', #{search}, '%')) OR
		(proj_buyer LIKE CONCAT('%', #{search}, '%')) OR
		(proj_amount LIKE CONCAT('%', #{search}, '%'))
		ORDER BY proj_idx desc
	</select>
	
	
	<!-- 2022.04.07 하영 추가 -->
	<!-- 프로젝트 정보 조회 -->
	<select id="getProjectInfo" parameterType="String" resultType="com.agos.awg.model.ProjVO">
		SELECT * FROM proj_code WHERE proj_idx = #{proj_idx}
	</select>
	
	<!-- 프로젝트 정보 수정 -->
	<update id="updateProject" parameterType="com.agos.awg.model.ProjVO">
		UPDATE proj_code
		SET proj_nm=#{proj_nm}, proj_amount=#{proj_amount}, proj_buyer=#{proj_buyer}, proj_start_date=#{proj_start_date}, proj_end_date=#{proj_end_date} 
		WHERE proj_code=#{proj_code}
	</update>
	
	<!-- 프로젝트 정보 삭제 -->
	<delete id="deleteProject" parameterType="list">
		DELETE FROM proj_code WHERE
		<foreach collection="list" item="item" separator="OR">
			 proj_idx = #{item}
		</foreach>
	</delete>
  </mapper>