<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.agos.awg.dao.card.ICardDAO">
	<resultMap id="cardInfo" type="com.agos.awg.model.CardVO">
		<result property="card_no" column="card_no" />
		<result property="card_id" column="card_id" />
		<result property="card_pw" column="card_pw" />
		<result property="card_name" column="card_name" />
		<result property="card_ep" column="card_ep" />
		<result property="card_type" column="card_type" />
	</resultMap>
	
	<!-- 카드 개수 확인 -->
	<select id="getCardListCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM card_acc
		<choose>
			<when test="card_type != -1">
				WHERE card_type = #{card_type}
				<if test="keyword != null">
					AND ${keyword} LIKE CONCAT('%',#{word},'%')
				</if>	
			</when>
			<otherwise>
				<if test="keyword != null">
					WHERE ${keyword} LIKE CONCAT('%', #{word}, '%')
				</if>	
			</otherwise>
		</choose>
	</select>
	
	<!-- 카드 목록  조회  -->
	<select id="getCardList" parameterType="map" resultMap="cardInfo">
		SELECT * FROM card_acc
		<choose>
			<when test="card_type != -1">
				WHERE card_type = #{card_type}
				<if test="keyword != null">
					AND ${keyword} LIKE CONCAT('%',#{word},'%')
				</if>	
			</when>
			<otherwise>
				<if test="keyword != null">
					WHERE ${keyword} LIKE CONCAT('%', #{word}, '%')
				</if>	
			</otherwise>
		</choose>
		<if test="pagination != null">
			LIMIT #{pagination.startList}, #{pagination.listSize}
		</if>
	</select>
	
	<!-- 카드 정보 조회 -->
	<select id="getCardInfo" parameterType="String" resultType="com.agos.awg.model.CardVO">
		SELECT * FROM card_acc WHERE card_id = #{card_id}
	</select>

	<!-- 카드  계정 중복 체크 -->
	<select id="checkCardID" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM card_acc WHERE card_id = #{id}
	</select>

	<!-- 카드  계정 등록 -->
	<insert id="insertCard" parameterType="com.agos.awg.model.CardVO" useGeneratedKeys="true" keyProperty="card_id">
		INSERT INTO card_acc 
		<choose>
			<when test="card_type == 0">
				VALUES
					(#{card_no}, #{card_id}, #{card_pw}, #{card_name}, #{card_ep}, #{card_type})
			</when>
			<when test="card_type == 1">
				(card_no, card_id, card_name, card_ep, card_type) 
					VALUES
						(#{card_no}, #{card_id}, #{card_name}, #{card_ep}, #{card_type})
			</when>
		</choose>
	</insert>
	
	<!-- 카드 정보 수정 -->
	<update id="updateCard" parameterType="com.agos.awg.model.CardVO">
		UPDATE card_acc
		SET card_no=#{card_no}, card_name=#{card_name}, card_pw=#{card_pw}, card_ep=#{card_ep} 
		WHERE card_id=#{card_id}
	</update>
	
	<!-- 카드 정보 삭제 -->
	<delete id="deleteCard" parameterType="list">
		DELETE FROM card_acc WHERE
		<foreach collection="list" item="item" separator="OR">
			 card_id = #{item}
		</foreach>
	</delete>
</mapper>