#wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
}

#contents {
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: 1px solid black;
	width: 80%;
	height: 80%;
	padding: 1.5rem 2rem;
}

button {
	width: 100px;
	padding: 10px;
	font-size: 16px;
	background-color: white;
	border-radius: 10px;
	cursor: pointer;
	margin: 0 10px;
}

#tabButtons button:first-child,
#submitButtons button:first-child {
	margin: 0 10px 0 0;
}

#tabButtons {
	margin-bottom: 30px;
}

#tabButtons button.selected {
	color: white;
	background-color: black;
}

#options {
    display: flex;
    justify-content: space-between;
    align-items: center;
	margin-bottom: 20px;
}

#cardInfo, #cardInfo table {
	width: 100%;
}

#cardInfo {
	margin-bottom: 20px;
}

#cardInfo table {
	border: 1px solid black;
    border-collapse: collapse;
}

#cardInfo th, td {
    border: 1px solid black;
}

#cardInfo td {
	text-align: center;
}

/****** Bottom Buttons ******/
#bottomButtons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* pagination */
#paginationBox {
	display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.35rem;
}

.pageLink {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  border: 1px solid #dddfeb;
  cursor: pointer;
}

.pageLink:hover {
  z-index: 2;
  text-decoration: none;
  background-color: #eaecf4;
  border-color: #dddfeb;
}

.pageLink:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}

.pageItem:first-child .pageLink {
  margin-left: 0;
  border-top-left-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
}

.pageItem:last-child .pageLink {
  border-top-right-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
  margin-right: 10px;
}

.pageItem.active .pageLink {
  z-index: 3;
  color: #fff;
  background-color: #333;
  border-color: #333;
}

#submitButtons {
	display: flex;
    justify-content: flex-end;
}