@charset "UTF-8";
/* insertCard.css */

#wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
}

#addCardForm {
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: 1px solid black;
	width: 80%;
	height: 80%;
	padding: 1.5rem 2rem;
}

#addCardForm div {
	margin-bottom: 20px;
	width: 100%;
}

#addCardForm div label {
	display: block;
	margin-bottom: 5px;
}

#addCardForm div input {
	font-size: 16px;
}

#addCardForm div select {
    padding: 2px;
	margin-right: 5px;
	font-size: 16px;
}

#addCardForm div span {
	font-size: 10px;
	display: none;
}

input.num {
    width: 100px;
}

#cardNoArea input.num {
	width: 19%;
}

.submitBtns {
	display: flex;
	justify-content: center;
	align-items: center;
}

.submitBtns input {
	width: 100px;
	padding: 7px;
	font-size: 16px;
	color: white;
	background-color: black;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.submitBtns input:first-child {
	margin-right: 20px;
}

button.checkDuplicateBtn {
	width: 100px;
	padding: 6px;
	margin-left: 10px;
	font-size: 16px;
	color: white;
	background-color: black;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

input.disabled,
button.checkDuplicateBtn.disabled {
	background-color: #F0F0F0;
	cursor: default;
}

#cardNoArea #inputCardNo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

#cardPWArea {
	display: none;
}